*{
    margin: 0;
    padding: 0;
    border: border-height;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:normal;
}

body{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 40px

}
.input_data p{
    text-align: left;
}
.box{
    
    width: 500px;  
    text-align: center;
    padding: 70px;
    
}
.input_data input{
    width: 100%;

}
.up{
    text-align: left;
    line-height: 30px;
    height: 30px;
    width: 500px;
    background-color: lightgray;
    font-weight: bold;
    margin-top: 20px;
}
section{
    display: grid;
    gap: 20px;
}
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: rgb(52, 50, 50);
    color: white;
}
.foot p{
    width: 20px;
    
}